@charset "UTF-8";

#container {
	width: 700px;
	min-height: 700px;
	float: left;
	margin: 15px 35px;
}
#states path {
	fill: #8dd3d6;  /*지도 색깔*/
	stroke: #80ff80; /*경계선 색깔*/
	stroke-width: 1.5px;
}

#states path:hover {
	fill: #ffff80;
}

#states .active {
	fill: #83d1f2;
}

#states .activeDetail {
	fill: #83d1f2;
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 15px;
	fill: #000000;
	font-weight : bold;
}